{% extends 'base/base.html' %}

{%  block page_content %}
    <h1>My Notes</h1>

    {% if notes %}
    <!--notes container-->
    {% for note in notes %}
        <div class="note-container">
            <h2>{{ note.title }}</h2>
                <img src="{{ note.image_url }}" alt="{{ note.title }}"/>
            </h2>

            <div class="right">
                <a class="button details" href="{% url 'note details' note.pk %}">Details</a>
                <a class="button edit" href="{% url 'edit note' note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete note' note.pk %}">Delete</a>
            </div>
        </div>
    {% endfor %}
    <!--end notes container-->

    {% else %}
    <h2>There are no notes.</h2>
    {% endif %}
{% endblock %}